
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  border: none;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
}

/* header */

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50pz 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}
 nav ul li{
    list-style: none;
    margin-right: 51px;
 }
 nav li a{
    text-decoration: none;
    font-size: 20px;
 }

 /* banner style */
 .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
 }
 .banner-content{
    max-width: 585px;
 }
 .banner-gretings{
  font-size: 45px;
  font-weight: 600;
 }

 .banner-title{
  font-weight: 600;
  font-size: 85px;
 }
 .banner-description{
    font-size: 18px;
    font-weight: 300;
 }

.banner-profile-pic{
    width: 585px;
    height: ;
}

